body {
    background-color: #5e4447;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

#books div:nth-of-type(odd) {
    background-color: white;
}

#books div:nth-of-type(even){
    background-color: #ccc;
}